<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Artificial Stories</title>
</head>
<body>

    <header><a href="{{ url_for('story.read') }}" style="color: #000000; text-decoration: none;">Artificial Stories</a> from lundchristian X OpenAI</header>

    {% block content %}{% endblock %}

    <footer>2023</footer>

</body>
</html>